* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 18%, 87%);
    font-size: 24px;
}

section {
    padding: 1em 0;
}

.prepTime {
    margin: 0;
}

.omelette-img {
    margin: 0 auto;
    border-radius: 1em;
    margin-bottom: 1em;
}

.desktop {
    margin: 2em 10em;
}

.container {
    background-color: white;
    border-radius: 2em;
    padding: 3em;
}